/*Rest css - pisite komentare*/
/*Favorite button*/
.paint {
	background: #ffcc00;
	color: black;
}
/*Menu icon*/
.menu-icon {
	width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
}

.useravatar {
	margin-top: 20px;
	margin-left: 50px;
	height: 120px;
	width: 120px;
}

.sidebar-text {
	margin-top: 135px;
	margin-left: -20px;
}

.images {
	height: 225px;
	background-size: cover;
}

.sidebar-name {
	color: white;
}

.switch {
	display: none;
}

/*Side bar*/
.sidebar-nav {
	padding-left: 0px;
}

#sidebar-wrapper {
	z-index: 1;
	position: fixed;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	background-color: black;
	border: 2px solid black;
}

#page-content-wrapper {
	width: 100%;
	position: static;
	padding: 15px;
}

#wrapper.menuDisplayed #sidebar-wrapper {
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
	padding-left: 250px;
}

.sidebar-nav li {
	padding: 0;
	list-style: none;
	text-indent: 20px;
	line-height: 40px;
	text-align: center;
}

.sidebar_nav li a {
	padding: 0;
	list-style: none;
	text-indent: 20px;
	line-height: 40px;
	text-decoration: none;
	list-style-type: none;
	color: #ddd;
}

a:hover {
	text-decoration: none;
	color: white;
}

.top-menu {
	background-color: #33ccff; 
	height:150px; 
	align-items:center; 
	top:0; 
	position:sticky; 
	position: -webkit-sticky; 
	z-index:1;
}

#right-sidebar {
	position: fixed;
	right: 0;
	top: 100px;
}

.card-img-top {
	height: 150px;
}

.tablica {
	padding: 0.40rem;
	font-weight: bold;
}

.right-menu-onload {
	position: static;
}

#accordionExample {
	margin-top: 50px;
}

.txt {
	font-family: Arial, Helvetica, sans-serif;
}

