/*Rest css - pisite komentare*/
.switch {
	display: none;
}

/*Side bar css*/
#sidebar-wrapper {
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	background-color: black;
	border: 2px solid black;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.menuDisplayed #sidebar-wrapper {
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
	padding-left: 250px;
}

.sidebar-nav li {
	padding: 0;
	list-style: none;
	text-indent: 20px;
	line-height: 40px;
	text-align: center;
}

.sidebar_nav li a {
	padding: 0;
	list-style: none;
	text-indent: 20px;
	line-height: 40px;
	text-decoration: none;
	list-style-type: none;
	color: #ddd;
}

a::hover {
	text-decoration: none;
	background-color: #808080;
}