html, body{
    margin: 0;
    height: 100%;
}
body {
	background-color:red;
    background: -webkit-linear-gradient(top, black 5%, lightgray 100%);
	/*colorzilla za gradient*/
}


.header {
	background-color: #1da6ff;
	color: white;
	font-style: oblique;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
	font-weight: 500;
	align-items: center;
}






.col-sm-8 h2{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
}

#glavni_container {
    
    height: 100%;
	border-width: 4px;
	border-radius: 2px;
	border-color: #57525e;
	border-style: groove;
    background: -webkit-linear-gradient(bottom, black 1%, lightgray 50%);
    padding: 0;
}

.btn-primary {
    margin-left: 45%;
    margin-right: 45%;
    margin: 2.5% 42.5%;
}

