* {
	box-sizing: border-box;
}

h3 {
	margin-top: 145px;
}

.header {
	background-color: #1da6ff;
	color: white;
	font-style: oblique;
	padding: 5px;
	font-weight: 500;
	align-items: center;	
}

.slides {
	display: none;
}

.imgs {
	width: 355px;
	height: 255px;
	align-content: center;
	margin-top: 25px;
	margin-left: 155px;
}

.shimg {
	margin: auto;
	position: relative;
	float: left;
	width: 50%;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/*buttoni i brojac slide-a */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
	margin-top: 65px;
	margin-right: 165px;
}

.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
	margin-top: 65px;
	margin-left: 155px;
}

.prev:hover, .next:hover {
	background-color: #000008;
}

.numtxt {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	margin-top: 215px;
	margin-left: 155px;
}

/*Forme za prijavu*/

.form {
	float: right;
	width: 50%;
}

.logIn {
	margin-left: 225px;
	margin-top: 15px;
	margin-right: 25px;
	border-style: outset;
	text-align: center;
	padding: 15px;	
	display: none;
}

.signUp {
	margin-left: 225px;
	margin-top: 10px;
	margin-right: 25px;
	border-style: outset;
	text-align: center;
	padding: 15px;
	display: none;
}

.formAct {
	margin-left: 225px;
	margin-top: 65px;
	margin-right: 25px;
	border-style: outset;
	color: white;
	font-style: oblique;
	background-color: #1da6ff;
	padding: 15px;
	display: none;
}

/*Header buttoni*/

.headBtnLog, .headBtnSig {
	background-color: #268cff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border-radius: 8px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    float: left;
    width: 75px;
    height: 25px;
    font-style: oblique;
    color: white;
}

.headBtnLog:hover, .headBtnSig:hover {
	background-color: #4da6ff;
}

.headBtnLog:active, .headBtnSig:active {
  background-color: #4da6ff;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.signUpBtn, .logInBtn {
	background-color: #268cff;
	font-style: oblique;
    color: white;
    border-radius: 5px;
}

/*Input fields*/

.text {
	border-radius: 8px;
	font-style: oblique;
	border-color: lightblue;
}

/*Error msg*/

.error {
	display: none;
	color: red;
}

fading animation
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}