#av {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 0px;
  margin-right: 0px;
  background: white;
}

#team {
	padding: 20px;
	height: 650px;
	width: 430px;
	margin-top: 50px;
	background-image: url("https://ih1.redbubble.net/image.360456387.3989/mp,550x550,gloss,ffffff,t.3u1.jpg");
  align-items: center;
}