.bg-modal{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: relative;
	top: 0;
	justify-content: center;
	align-items: center;
	display: none;
}

.modal-content{
	width: 500px;
	height: 300px;
	background-color: white;
	border-radius: 4px;
	text-align: left;
	padding: 20px;
	position: relative;
}

.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
	color: red;
}

#av {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 0px;
  margin-right: 0px;
  background: white;
}

#fav-btn {
	position: relative;
}

.badge-info {
	position: relative;
}

.btn {
	position: relative;
}

#navigation {
	justify-content: center;
	align-items: center;
}

#edit {
	cursor: pointer;
}